@import 'tailwindcss';

@layer base {
  body {
    @apply text-gray-200 min-h-screen;
    font-family: 'Orbitron', sans-serif;

    background:
      linear-gradient(rgba(10, 10, 30, 0.85), rgba(26, 15, 46, 0.95)),
      url('assets/background.jpg') no-repeat center center fixed;
    background-size: cover;
  }
}

@layer components {
  .card {
    @apply bg-[#1a1a2e]/90 border border-purple-500/30 rounded-xl p-3 shadow-lg hover:shadow-purple-500/50 transition duration-300;
  }

  input,
  select,
  button {
    @apply bg-[#0f0f1f]/70 border border-[#3b0ca3]/70 rounded-md px-3 py-2 text-sm text-gray-200 outline-none focus:ring-2 focus:ring-purple-500/20 transition;
  }

  button {
    @apply bg-[#2c026d] hover:bg-[#3b0ca3] text-white font-semibold rounded-md shadow-[0_0_15px] shadow-purple-500/50 transition-all duration-300;
  }

  .neon-text {
    text-shadow:
      0 0 5px #c084fc,
      0 0 10px #a855f7,
      0 0 20px #7c3aed,
      0 0 30px #9333ea;
  }
}
